Repository cosmos/gravity-bridge: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, contracts

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      contacts:
        target: 85%
        flags: contacts
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  contracts:
    paths:
      - "testnet-contracts/"
      - "!testnet-contracts/migrations/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "x/**/test_common.go"
  - "deploy"
  - "contrib"

couple less missing things
  app/app.go
Due: app

add invCheckPeriod
  app/app.go
Due: app

Add missing modules (#127)
  app/app.go
  cmd/ebd/genaccounts.go
  cmd/ebd/main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/relayToCosmos.go
  go.sum
  x/ethbridge/client/cli/cli.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/module.go
Due: app, modules

Revert "Add missing modules (#127)"
  app/app.go
  cmd/ebd/genaccounts.go
  cmd/ebd/main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/relayToCosmos.go
  go.sum
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/module.go
Due: app, modules

extend linting
  .golangci.yml
  app/app.go
  cmd/ebrelayer/events/ethereumEvent.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/parser_test.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/test_common.go
  x/ethbridge/alias.go
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/querier.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/module.go
  x/ethbridge/test_common.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/querier.go
  x/ethbridge/types/test_common.go
  x/oracle/alias.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/test_common.go
  x/oracle/types/errors.go
  x/oracle/types/prophecy.go
Due: app, modules

add github actions
  .github/workflows/tests.yml
Due: none

begining NFT bridge
  x/nftbridge/alias.go
  x/nftbridge/client/cli/query.go
  x/nftbridge/client/cli/tx.go
  x/nftbridge/client/module_client.go
  x/nftbridge/client/rest/rest.go
  x/nftbridge/handler.go
  x/nftbridge/handler_test.go
  x/nftbridge/keeper/keeper.go
  x/nftbridge/keeper/querier.go
  x/nftbridge/keeper/querier_test.go
  x/nftbridge/module.go
  x/nftbridge/test_common.go
  x/nftbridge/types/claim.go
  x/nftbridge/types/claim_type.go
  x/nftbridge/types/codec.go
  x/nftbridge/types/errors.go
  x/nftbridge/types/ethereum.go
  x/nftbridge/types/events.go
  x/nftbridge/types/expected_keepers.go
  x/nftbridge/types/flags.go
  x/nftbridge/types/keys.go
  x/nftbridge/types/msgs.go
  x/nftbridge/types/querier.go
  x/nftbridge/types/test_common.go
Due: modules

recover this
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/signature.go
  testnet-contracts/scripts/sendCheckProphecy.js
  testnet-contracts/scripts/sendProcessProphecy.js
Due: contracts

fix ABI path info
  cmd/ebrelayer/contract/contract.go
Due: none

fix lint
  cmd/ebrelayer/contract/contract.go
Due: none

pause
  x/ethbridge/types/errors.go
  x/nftbridge/alias.go
  x/nftbridge/client/cli/query.go
  x/nftbridge/client/cli/tx.go
  x/nftbridge/types/claim.go
  x/nftbridge/types/claim_type.go
  x/nftbridge/types/codec.go
  x/nftbridge/types/errors.go
  x/nftbridge/types/ethereum.go
  x/nftbridge/types/events.go
  x/nftbridge/types/msgs.go
  x/nftbridge/types/querier.go
  x/nftbridge/types/test_common.go
Due: modules

need to undo claim deletion
  x/nftbridge/alias.go
  x/nftbridge/client/cli/query.go
  x/nftbridge/client/rest/rest.go
  x/nftbridge/handler.go
  x/nftbridge/keeper/keeper.go
  x/nftbridge/keeper/querier_test.go
  x/nftbridge/module.go
  x/nftbridge/types/expected_keepers.go
  x/nftbridge/types/querier.go
  x/nftbridge/types/test_common.go
Due: modules

no errors untested
  go.mod
  go.sum
  x/nftbridge/alias.go
  x/nftbridge/client/cli/tx.go
  x/nftbridge/handler.go
  x/nftbridge/handler_test.go
  x/nftbridge/keeper/keeper.go
  x/nftbridge/keeper/querier.go
  x/nftbridge/keeper/querier_test.go
  x/nftbridge/module.go
  x/nftbridge/test_common.go
  x/nftbridge/types/expected_keepers.go
  x/nftbridge/types/keys.go
  x/nftbridge/types/msgs.go
  x/nftbridge/types/querier.go
  x/nftbridge/types/test_common.go
  x/oracle/keeper/test_common.go
Due: modules

no errors untested
  x/ethbridge/test_common.go
Due: none

passes tests
  x/ethbridge/keeper/querier_test.go
  x/nftbridge/alias.go
  x/nftbridge/client/cli/query.go
  x/nftbridge/client/cli/tx.go
  x/nftbridge/client/module_client.go
  x/nftbridge/client/rest/rest.go
  x/nftbridge/handler.go
  x/nftbridge/handler_test.go
  x/nftbridge/keeper/querier_test.go
  x/nftbridge/module.go
  x/nftbridge/test_common.go
  x/nftbridge/types/expected_keepers.go
  x/nftbridge/types/test_common.go
  x/oracle/keeper/keeper_test.go
  x/oracle/keeper/test_common.go
Due: modules

lint
  x/nftbridge/types/querier.go
Due: modules

psychotic linting
  x/nftbridge/client/cli/query.go
  x/nftbridge/client/cli/tx.go
Due: modules

psychotic linting
  x/nftbridge/types/msgs.go
Due: modules

ok linting
  .golangci.yml
  x/nftbridge/alias.go
  x/nftbridge/handler.go
  x/nftbridge/handler_test.go
  x/nftbridge/keeper/keeper.go
  x/nftbridge/types/claim.go
  x/nftbridge/types/msgs.go
  x/nftbridge/types/querier.go
  x/nftbridge/types/test_common.go
Due: modules

ok linter
  .golangci.yml
  x/nftbridge/alias.go
  x/nftbridge/handler.go
  x/nftbridge/handler_test.go
  x/nftbridge/keeper/keeper.go
  x/nftbridge/types/claim.go
  x/nftbridge/types/msgs.go
  x/nftbridge/types/querier.go
  x/nftbridge/types/test_common.go
Due: modules

checkpoint
  app/app.go
  go.mod
  go.sum
Due: app

maybe working
  app/app.go
  app/nft_handler.go
Due: app

compiles
  go.sum
Due: none

contract updates -- paused
  go.sum
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
  testnet-contracts/contracts/BridgeBank/BridgeNFT.sol
  testnet-contracts/contracts/BridgeBank/EthereumBank.sol
  testnet-contracts/contracts/CosmosBridge.sol
  testnet-contracts/contracts/Oracle.sol
  yarn.lock
Due: contracts

proxy factory added
  cmd/ebrelayer/contract/abi/BridgeBank.abi
  go.mod
  go.sum
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
  testnet-contracts/contracts/BridgeBank/BridgeNFT.sol
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/contracts/BridgeBank/EthereumBank.sol
  testnet-contracts/contracts/BridgeBank/NFTFactory.sol
  testnet-contracts/contracts/CosmosBridge.sol
  testnet-contracts/migrations/2_next.js
  testnet-contracts/truffle-config.js
  x/nftbridge/test_common.go
Due: contracts

abi
  cmd/ebrelayer/contract/abi/BridgeBank.abi
Due: none

minor formatting
  cmd/ebrelayer/relayer/cosmos.go
Due: none

contracts seem to work except signatures failing now
  testnet-contracts/contracts/BridgeBank/BridgeNFT.sol
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/package.json
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendLockNFTTx.js
  testnet-contracts/test/test_NFTFactory.js
  testnet-contracts/test/test_bridgeBank.js
Due: contracts

fix deps
  go.mod
  go.sum
  package.json
  yarn.lock
Due: none

update deps
  go.mod
  go.sum
Due: none

fix lint and add first nft event listens
  cmd/ebrelayer/events/ethereumEvent.go
  cmd/ebrelayer/events/types.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
Due: none

xdai
  testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendCheckProphecy.js
  testnet-contracts/scripts/sendLockNFTTx.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/scripts/sendProcessProphecy.js
  testnet-contracts/scripts/setOracleAndBridgeBank.js
  testnet-contracts/truffle-config.js
Due: contracts

compiles
  .env.example
  app/app.go
  go.mod
  go.sum
  testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/scripts/setOracleAndBridgeBank.js
  testnet-contracts/truffle-config.js
  yarn.lock
Due: app, contracts

seems to be working
  package.json
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/scripts/sendAddBridgeToken.js
Due: contracts

automatic payout
  testnet-contracts/contracts/Oracle.sol
Due: contracts

working with xdai
  package.json
  testnet-contracts/flat/BridgeToken.sol
  testnet-contracts/flat/Oracle.sol
  testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendCheckProphecy.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/scripts/sendProcessProphecy.js
  testnet-contracts/scripts/setOracleAndBridgeBank.js
  testnet-contracts/truffle-config.js
Due: contracts

add persistent commands
  relayer-cosmos.sh
  relayer-eth-1.sh
  relayer-eth-2.sh
Due: none

add backdoor for ethdenver
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
Due: contracts

new deploy onto xdai
  package.json
  relayer-cosmos.sh
  testnet-contracts/flat/BridgeBank.sol
  testnet-contracts/flat/CosmosBridge.sol
  testnet-contracts/scripts/formatAbi.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/truffle-config.js
Due: contracts

new deploy onto xdai
  relayer-cosmos.sh
  relayer-eth-1.sh
  relayer-eth-2.sh
Due: none
