Repository cosmos/gravity-bridge: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, contracts

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      contacts:
        target: 85%
        flags: contacts
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  contracts:
    paths:
      - "testnet-contracts/"
      - "!testnet-contracts/migrations/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "x/**/test_common.go"
  - "deploy"
  - "contrib"

fixed bug with MsgBurn/MsgLock erc20 token contract address attribute
  docs/cosmos-to-ethereum.md
  docs/ethereum-to-cosmos.md
  docs/local-ethereum-usage.md
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler_test.go
  x/ethbridge/types/events.go
  x/ethbridge/types/msg_burn.go
  x/ethbridge/types/msg_lock.go
Due: modules

fixed bug ClaimType enum off by one error in modules vs. contracts
  testnet-contracts/contracts/CosmosBridge.sol
Due: contracts

updated burn to lock in cosmos-to-ethereum docs, and added burn section
  docs/cosmos-to-ethereum.md
Due: none

removed empty case for unsupported claim types
  cmd/ebrelayer/relayer/cosmos.go
Due: none

Core demo tasks (usability updates, bug fixes, readme changes) (#104)
  README.md
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
  docs/PeggyForRemix.sol
  docs/cosmos-to-ethereum.md
  docs/ethereum-to-cosmos.md
  docs/initialization.md
  docs/local-ethereum-usage.md
  docs/ropsten-testnet-usage.md
  testnet-contracts/contracts/CosmosBridge.sol
  testnet-contracts/scripts/sendLockTx.js
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler_test.go
  x/ethbridge/types/events.go
  x/ethbridge/types/msg_burn.go
  x/ethbridge/types/msg_lock.go
Due: modules, contracts

added unified relayer service to CHANGELOG
  CHANGELOG.md
Due: none

updated test for circleci
  cmd/ebrelayer/contract/contract_test.go
Due: none

tendermint cliCtx moved to utility function and moved up the architecture
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/utils/utils.go
Due: none

updated README and docs with unified relayer
  README.md
  docs/cosmos-to-ethereum.md
  docs/ethereum-to-cosmos.md
  docs/init-bridge-chain.md
  docs/init-local-eth-chain.md
  docs/init-relayer.md
  docs/init-ropsten-testnet-chain.md
Due: none

Add code coverage (#93)
  .circleci/config.yml
  .codecov.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

add missing modules; update to latest SDK
  app/app.go
  cmd/ebcli/main.go
  cmd/ebd/genaccounts.go
  cmd/ebd/main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/relayToCosmos.go
  go.mod
  go.sum
  x/ethbridge/client/cli/cli.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/module.go
Due: app, modules

reverse logic
  testnet-contracts/contracts/CosmosBridge.sol
Due: contracts

remove useless oracal
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
Due: contracts

resolve conflicts
  cmd/ebrelayer/relayer/ethereum.go
Due: none

fixed hanging test
  cmd/ebrelayer/relayer/network_test.go
Due: none

removed SigRSV for golangcibot
  cmd/ebrelayer/txs/signature.go
  cmd/ebrelayer/txs/signature_test.go
Due: none

updated to match base branch changes
  cmd/ebrelayer/relayer/network_test.go
  cmd/ebrelayer/txs/signature.go
  cmd/ebrelayer/txs/signature_test.go
Due: none

gomnd disabled on golangcibot as it yields an invalid error
  .golangci.yml
Due: none

updated ebrelayer so init cmd executes only once
  cmd/ebrelayer/main.go
Due: none

begin updating to v0.38.0
  app/app.go
  go.mod
  go.sum
  x/oracle/types/errors.go
Due: app, modules

pause updates
  app/app.go
  x/ethbridge/alias.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/module.go
  x/ethbridge/querier/querier.go
  x/ethbridge/querier/querier_test.go
  x/ethbridge/test_common.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/claim_type.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/msg_burn.go
  x/ethbridge/types/msg_create_eth_bridge_claim.go
  x/ethbridge/types/msg_lock.go
  x/oracle/alias.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/test_common.go
Due: app, modules

compiles but cant believe keys.DefaultKeyPass works
  app/app.go
  cmd/ebcli/main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/test_common.go
  x/ethbridge/handler.go
  yarn.lock
Due: app, modules

more updates and tests
  cmd/ebrelayer/contract/abi/BridgeBank.abi
  cmd/ebrelayer/contract/abi/CosmosBridge.abi
  cmd/ebrelayer/contract/abi/Oracle.abi
  cmd/ebrelayer/contract/abi/Valset.abi
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/contract/contract_test.go
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
Due: modules

update peggy eth components but still a keyring bug in sdk
  .env.example
  cmd/ebrelayer/main.go
  testnet-contracts/.env.example
  testnet-contracts/package-lock.json
  testnet-contracts/package.json
  yarn.lock
Due: contracts

omg dumb bug
  x/ethbridge/handler.go
  x/ethbridge/handler_test.go
  x/oracle/keeper/keeper.go
Due: modules

debugging keyring
  package.json
Due: none

added init
  init.sh
  yarn.lock
Due: none

init tweak
  init.sh
Due: none

cleanup x/ethbridge
  x/ethbridge/alias.go
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/querier.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/types/querier.go
Due: modules

x/oracle cleanup
  x/ethbridge/keeper/querier.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/expected_keepers.go
  x/ethbridge/types/msg_burn.go
  x/ethbridge/types/msg_create_eth_bridge_claim.go
  x/ethbridge/types/msg_lock.go
  x/ethbridge/types/msgs.go
  x/oracle/alias.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/errors.go
  x/oracle/types/prophecy.go
  x/oracle/types/status.go
Due: modules

more cleanup
  app/app.go
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/contract/contract_test.go
  cmd/ebrelayer/events/cosmosEvent.go
  cmd/ebrelayer/events/ethereumEvent.go
  cmd/ebrelayer/events/ethereumEvents.go
  cmd/ebrelayer/events/types.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/relayer/network.go
  cmd/ebrelayer/relayer/network_test.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/registry.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/signature.go
  cmd/ebrelayer/txs/test_common.go
  cmd/ebrelayer/txs/types.go
  cmd/ebrelayer/utils/utils.go
  go.mod
  go.sum
  x/ethbridge/types/flags.go
Due: app, modules

scope errors to functions
  app/app.go
  cmd/ebd/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/registry.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/signature.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/handler.go
  x/oracle/types/prophecy.go
Due: app, modules

replace test require
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/querier_test.go
  x/oracle/keeper/test_common.go
Due: modules

fix tests
  cmd/ebrelayer/contract/contract_test.go
  x/oracle/keeper/keeper.go
  x/oracle/types/status.go
Due: modules

fix
  x/ethbridge/handler.go
Due: modules

update imported pkg
  cmd/ebd/genaccounts.go
Due: none

golangcibot fixes
  x/ethbridge/client/cli/tx.go
Due: modules

Add missing modules (#110)
  app/app.go
  cmd/ebd/genaccounts.go
  cmd/ebd/main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/relayToCosmos.go
  go.sum
  x/ethbridge/client/cli/cli.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/module.go
Due: app, modules

Revert "Add missing modules (#110)"
  app/app.go
  cmd/ebd/genaccounts.go
  cmd/ebd/main.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/txs/relayToCosmos.go
  go.sum
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/module_client.go
  x/ethbridge/module.go
Due: app, modules

couple missing things
  app/app.go
Due: app
