Repository cosmos/gravity-bridge: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, contracts

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      contacts:
        target: 85%
        flags: contacts
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  contracts:
    paths:
      - "testnet-contracts/"
      - "!testnet-contracts/migrations/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "x/**/test_common.go"
  - "deploy"
  - "contrib"

fix test (#3)
  go.sum
Due: none

appease golangcibot
  x/ethbridge/client/cli/tx.go
Due: modules

update create-claim argument
  x/ethbridge/client/cli/tx.go
Due: modules

add flags to ebcli txs, queries
  cmd/ebcli/main.go
  docs/initialization.md
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/cli/tx.go
Due: modules

appease github actions
  x/ethbridge/client/cli/tx.go
Due: modules

add create-claim help output to docs
  docs/initialization.md
Due: none

golangcibot pls stop it
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/cli/tx.go
Due: modules

resolve doc differences after rebase
  docs/initialization.md
  docs/setup-bridge-chain.md
Due: none

remove leftover comment
  docs/setup-bridge-chain.md
Due: none

replace(bridge-contract, bridge-registry-contract)
  docs/setup-bridge-chain.md
  x/ethbridge/client/cli/query.go
Due: modules

Fix missing chain-id in docs
  docs/setup-bridge-chain.md
Due: none

contract sig verification
  testnet-contracts/contracts/Oracle.sol
  testnet-contracts/contracts/Valset.sol
Due: contracts

update oracle tests
  testnet-contracts/test/test_oracle.js
Due: contracts

update valset tests
  testnet-contracts/test/test_valset.js
Due: contracts

implement namespace test
  testnet-contracts/package-lock.json
  testnet-contracts/package.json
  testnet-contracts/test/test_namespace.js
Due: contracts

sample createBridgeProphecy test
  testnet-contracts/package-lock.json
  testnet-contracts/package.json
  testnet-contracts/test/test_namespace.js
  testnet-contracts/truffle-config.js
Due: contracts

contract fixes
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/contracts/CosmosBridge.sol
  testnet-contracts/contracts/Oracle.sol
  testnet-contracts/contracts/Valset.sol
  testnet-contracts/truffle-config.js
Due: contracts

generate bindings, fix signatures
  cmd/ebrelayer/generated/bindings/BridgeBank/BridgeBank.go
  cmd/ebrelayer/generated/bindings/bridgeregistry/BridgeRegistry.go
  cmd/ebrelayer/generated/bindings/cosmosbridge/CosmosBridge.go
  cmd/ebrelayer/generated/bindings/oracle/Oracle.go
  cmd/ebrelayer/generated/bindings/valset/Valset.go
  cmd/ebrelayer/generated/bridgebank/BridgeBank.go
  cmd/ebrelayer/generated/valset/Valset.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/registry.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/signature.go
  cmd/ebrelayer/txs/types.go
Due: none

implement burn/lock paths
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/contracts/BridgeBank/EthereumBank.sol
  testnet-contracts/contracts/CosmosBridge.sol
Due: contracts

Remove token-contract-address from lock API/CLI/REST
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler.go
  x/ethbridge/types/msgs.go
Due: modules

Update log and docs with new lock command
  cmd/ebrelayer/types/types.go
  docs/cosmos-to-ethereum.md
Due: none

Update ethbridge module with new types and logic for peg:: prepend
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/events.go
  x/ethbridge/types/msgs.go
Due: modules

Fix tests + update README with security warning
  README.md
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler_test.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/ethereum.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
Due: modules

Fix docs and cli
  docs/setup-bridge-chain.md
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/handler.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/types/errors.go
  x/ethbridge/types/msgs.go
  x/ethbridge/types/test_common.go
Due: modules

Add changelog
  CHANGELOG.md
Due: none

remove unused tokencontract from burn msg
  x/ethbridge/handler.go
  x/ethbridge/types/msgs.go
Due: modules

Fix handler test
  x/ethbridge/handler_test.go
Due: modules

More handler test fixes
  x/ethbridge/handler_test.go
Due: modules

Start fixing relayer for new msg paramaters
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/types.go
  cmd/ebrelayer/types/types.go
Due: none

Small relayer testfix
  cmd/ebrelayer/txs/test_common.go
Due: none
