Repository cosmos/gravity-bridge: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, contracts

.codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags: app
      modules:
        target: 70%
        flags: modules
      contacts:
        target: 85%
        flags: contacts
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app/"
  modules:
    paths:
      - "x/"
      - "!x/**/client/" # ignore client package
  contracts:
    paths:
      - "testnet-contracts/"
      - "!testnet-contracts/migrations/"

ignore:
  - "docs"
  - "*.md"
  - "*.rst"
  - "x/**/test_common.go"
  - "deploy"
  - "contrib"

fix relayer
  relayer-eth-2.sh
  testnet-contracts/flat/BridgeRegistry.sol
Due: contracts

fix relayer
  relayer-eth-1.sh
  relayer-eth-2.sh
Due: none

add params to approve command
  testnet-contracts/scripts/sendApproveTx.js
Due: contracts

TODO questions
  testnet-contracts/contracts/Oracle.sol
  x/ethbridge/keeper/keeper.go
Due: modules, contracts

remove scavenge work, keep other updates
  .golangci.yml
  app/app.go
  cmd/ebrelayer/main.go
  go.mod
  go.sum
  x/ethbridge/client/rest/rest.go
Due: app, modules

remove xdai
  .golangci.yml
  package.json
  relayer-eth-1.sh
  relayer-eth-2.sh
  testnet-contracts/.gitignore
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/flat/BridgeBank.sol
  testnet-contracts/flat/BridgeRegistry.sol
  testnet-contracts/flat/BridgeToken.sol
  testnet-contracts/flat/CosmosBridge.sol
  testnet-contracts/flat/Oracle.sol
  testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendCheckProphecy.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/scripts/sendProcessProphecy.js
  testnet-contracts/scripts/setOracleAndBridgeBank.js
Due: contracts

tiny
  .golangci.yml
  relayer-cosmos.sh
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
  testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/getTokenContractAddress.js
  testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendCheckProphecy.js
  testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/scripts/sendProcessProphecy.js
  testnet-contracts/scripts/setOracleAndBridgeBank.js
Due: contracts

sum
  go.sum
Due: none

Update .golangci.yml
  .golangci.yml
Due: none

Update testnet-contracts/scripts/getBridgeAddress.js
  testnet-contracts/scripts/getBridgeAddress.js
Due: contracts

Update testnet-contracts/scripts/getBridgeRegistryAddress.js
  testnet-contracts/scripts/getBridgeRegistryAddress.js
Due: contracts

Update testnet-contracts/scripts/sendApproveTx.js
  testnet-contracts/scripts/sendApproveTx.js
Due: contracts

Update testnet-contracts/scripts/sendLockTx.js
  testnet-contracts/scripts/sendLockTx.js
Due: contracts

Update testnet-contracts/scripts/setOracleAndBridgeBank.js
  testnet-contracts/scripts/setOracleAndBridgeBank.js
Due: contracts

Update testnet-contracts/scripts/formatAbi.js
  testnet-contracts/scripts/formatAbi.js
Due: contracts

Update testnet-contracts/scripts/mintTestTokens.js
  testnet-contracts/scripts/mintTestTokens.js
Due: contracts

Update testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/scripts/sendAddBridgeToken.js
Due: contracts

update print format
  cmd/ebrelayer/events/ethereumEvent.go
Due: none

oracle contract consensus threshold param
  docs/cosmos-to-ethereum.md
  testnet-contracts/.env.example
  testnet-contracts/contracts/Oracle.sol
  testnet-contracts/migrations/2_next.js
  testnet-contracts/scripts/sendCheckProphecy.js
  testnet-contracts/scripts/sendProcessProphecy.js
Due: contracts

refactor utils
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/parser_test.go
  cmd/ebrelayer/txs/test_common.go
  cmd/ebrelayer/utils/utils.go
  cmd/ebrelayer/utils/utils_test.go
Due: none

load tendermint credentials, CLI context from main
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/relayToCosmos.go
Due: none

support multiple contract subscriptions
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/contract/contract_test.go
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/ethereum.go
Due: none

refactor to universal init cmd
  cmd/ebrelayer/main.go
Due: none

best practices general cleaning & formatting
  cmd/ebrelayer/contract/contract.go
  cmd/ebrelayer/events/cosmosEvent.go
  cmd/ebrelayer/events/ethereumEvent.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/registry.go
  cmd/ebrelayer/txs/relayToCosmos.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/signature.go
Due: none

refactor events to types
  cmd/ebrelayer/events/cosmosEvent.go
  cmd/ebrelayer/events/ethereumEvent.go
  cmd/ebrelayer/events/types.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/parser_test.go
  cmd/ebrelayer/txs/relayToEthereum.go
  cmd/ebrelayer/txs/signature.go
  cmd/ebrelayer/txs/test_common.go
  cmd/ebrelayer/txs/types.go
  cmd/ebrelayer/types/events.go
  cmd/ebrelayer/types/types.go
Due: none

implement EthSub, CosmosSub with combined Logger
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
Due: none

docs + staging for PR
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
  cmd/ebrelayer/relayer/network.go
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/registry.go
  docs/cosmos-to-ethereum.md
  docs/ethereum-to-cosmos.md
  docs/init-relayer.md
  docs/setup-bridge-chain.md
  docs/setup-eth-local.md
  docs/setup-eth-ropsten.md
Due: none

update doc links, add changelog
  CHANGELOG.md
  README.md
Due: none

fix changelog link
  CHANGELOG.md
Due: none

appease golangcibot
  cmd/ebrelayer/main.go
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
Due: none

remove flat config line
  testnet-contracts/truffle-config.js
Due: contracts

PR review (#1)
  .env.example
  README.md
  cmd/ebrelayer/main.go
  docs/cosmos-to-ethereum.md
  docs/ethereum-to-cosmos.md
  docs/init-relayer.md
  docs/setup-bridge-chain.md
  docs/setup-eth-local.md
  docs/setup-relayer.md
  init.sh
  package.json
  testnet-contracts/package.json
  testnet-contracts/scripts/getTokenBalance.js
  testnet-contracts/scripts/sendAddBridgeToken.js
  testnet-contracts/truffle-config.js
  x/ethbridge/client/cli/query.go
  x/ethbridge/client/cli/tx.go
  x/ethbridge/client/rest/rest.go
  x/ethbridge/keeper/keeper.go
  x/ethbridge/keeper/querier_test.go
  x/ethbridge/types/claim.go
  x/ethbridge/types/querier.go
  yarn.lock
Due: modules, contracts

Apply PR fixes and master rebase (#2)
  cmd/ebrelayer/txs/parser.go
  cmd/ebrelayer/txs/parser_test.go
  go.sum
Due: none

update TEST token denom
  testnet-contracts/migrations/2_next.js
Due: none

appease .sol formatter
  testnet-contracts/contracts/BridgeBank/BridgeBank.sol
  testnet-contracts/contracts/BridgeBank/BridgeToken.sol
  testnet-contracts/contracts/BridgeBank/CosmosBank.sol
  testnet-contracts/contracts/BridgeBank/EthereumBank.sol
  testnet-contracts/contracts/BridgeRegistry.sol
  testnet-contracts/contracts/CosmosBridge.sol
  testnet-contracts/contracts/Migrations.sol
  testnet-contracts/contracts/Oracle.sol
  testnet-contracts/contracts/Valset.sol
Due: contracts

revisions
  testnet-contracts/contracts/Oracle.sol
Due: contracts

fix log format
  cmd/ebrelayer/relayer/ethereum.go
Due: none

support locks of bignumber tokens
  testnet-contracts/scripts/sendLockTx.js
Due: contracts
